
<form ng-submit="loginController.getLogin()">
	<label for="username">Username:</label></label><input name="username"
		ng-model="loginController.username"></input><br /> <label
		for="password">Password:</label></label><input name="password" type="password"
		ng-model="loginController.password"></input><br />
	<button class="btn btn-default dropdown-toggle" type="button"
		id="roleMenu" data-toggle="dropdown"><span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li ng-repeat="role in loginController.availableRoles"><a
			style="cursor: pointer;">{{role}}</a></li>
	</ul>
	<button type="submit">Login</button>
</form>
