<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<div class="jumbotron">
			<h1>{{adminController.url}}</h1>
			<a href="#/home">Home Page</a>
		</div>
    <div ng-init="tab = 1" ng-controller="PanelController as Panel">
			<ul class="nav nav-pills">
				<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="tab = 1">Tab 1</a></li>
				<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="tab = 2">Tab 2</a></li>
				<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="tab = 3">Tab 3</a></li>
			</ul>
    </div>
		<div ng-show="panel.isSelected(1)">
			<h1>Test Headline</h1>
			<p>This is test space</p>
		</div>
		<div ng-show="panel.isSelected(2)">
			<h1>Test Headline</h1>
			<p>This is test space</p>
		</div>
		<div ng-show="panel.isSelected(3)">
			<h1>Test Headline</h1>
			<p>This is test space</p>
		</div>
  </div>
</div>
